doctype html
html(lang="de")
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      link(rel="stylesheet", href="/style/main.css")
      title
        block title
          = title
  body
    .container-fluid
      header#blogheader
        block header
          div.logo
            h1
              a(href='/') Flauschiversum
            p.description Mehr als nur eine Masche
              small immer Sonntags
      block content
        != contents

    script(src='/script/jquery.js')
    script(src='/script/slideshow.js')
